@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2eae2;
  --foreground: #6c7289;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }
}
